@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Montserrat', serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #999;

}
h1 {
    font-size: 2em;
    font-family:'Montserrat', serif;
}

li {
    font-size: 0.5em;
    font-family:'Montserrat', serif;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    font-family:'Montserrat', serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
    color: #333;
    font-family:'Montserrat', serif;
}

ul.posts li {
    list-style: none;
    font-family:'Montserrat', serif;
    color: #333;

}
