<!DOCTYPE html>
	<html>
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
							<li><a href="/blog">Blog</a></li>
	        		<li><a href="/exposure">Exposure</a></li>
							<li><a href="/profile">Profile</a></li>

	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:manojkkengudelu@gmail.com">email</a></li>
	        		<li><a href="https://github.com/manojkken">github.com/manojkken</a></li>
				</ul>
			</footer>
		</body>
	</html>
